#mysql从库
[client]
port                    = 3306
default-character-set   = utf8mb4


[mysqld]
user                    = mysql
port                    = 3306
sql_mode                = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

default-storage-engine  = InnoDB
default-authentication-plugin   = mysql_native_password
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
init_connect            ='SET NAMES utf8mb4'

slow_query_log
long_query_time         = 1
slow-query-log-file     = /var/lib/mysql-logs/mysql.slow.log
log-error               = /var/lib/mysql-logs/mysql.error.log

server-id=101
log-bin=mysql-bin

binlog_format=mixed
relay_log         = mysql-relay-bin
log_slave_updates = 1
read_only         = 1

skip-external-locking
max_connections = 102400
key_buffer_size = 16M
max_allowed_packet = 1M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M




[mysql]
default-character-set   = utf8mb4