[mysqld]
skip-host-cache
skip-name-resolve

pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
log-error	= /var/log/mysql/error.log

slow_query_log
long_query_time         = 1
slow-query-log-file     = /var/log/mysql/slow.log

server-id=1
log-bin=mysql-bin

default-storage-engine  = InnoDB
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M





# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0